<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Available Parts</title>
        <!-- Bootstrap core CSS -->
        <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
        <!-- Google material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <div th:fragment="paging">
            <div class="row justify-content-end pr-3">
                <div class="align-self-center">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <div th:class="'btn btn-light border ' + @{${paging.currentPage == 0} ? 'disabled'}"><a
                                    class="pageLink" th:href="@{/parts(page=1)}">«</a>
                            </div>
                            <div th:class="'btn btn-light border ' + @{${paging.currentPage == 0} ? disabled}"><a
                                    class="pageLink" th:href="@{/parts(page=${paging.currentPage})}">←</a>
                            </div>
                            <div th:class="'btn btn-light border ' + @{${paging.currentPage == (page - 1)} ? 'active pointer-disabled'}"
                                 th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                                <a class="pageLink" th:href="@{/parts(page=${page})}" th:text="${page}"></a>
                            </div>
                            <div th:class="'btn btn-light border ' + @{${paging.currentPage  + 1 == paging.totalPages} ? disabled}">
                                <a class="pageLink" th:href="@{/parts(page=${paging.currentPage + 2})}">→</a>
                            </div>
                            <div th:class="'btn btn-light border ' + @{${paging.currentPage  + 1 == paging.totalPages} ? disabled}">
                                <a class="pageLink" th:href="@{/parts(page=${paging.totalPages})}">»</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/js/bootstrap.js}"></script>
    </body>
</html>